@use '../abstracts' as *;

.section-about {
	display: grid;
	margin-bottom: 10rem;
	@include respond-to('medium') {
		grid-template-columns: 45% 1fr 50%;
		margin-bottom: 12rem;
	}
	@include respond-to('large') {
		margin-bottom: 8.8rem;
	}
	&__img {
		margin: 0 auto;
		margin-bottom: 4rem;
		width: calc(100% - (4.4rem));
		max-width: 36.4rem;
		@include respond-to('medium') {
			justify-self: left;
			margin: 0;
			width: 100%;
			max-width: 44.5rem;
		}
	}

	&__content {
		max-width: 100%;
		text-align: center;
		@include respond-to('medium') {
			grid-column: 3/-1;
			align-self: center;
			text-align: left;
		}
	}

	&__heading {
		margin-bottom: 2.4rem;
		@include respond-to('large') {
			margin-bottom: 3.4rem;
		}
	}
	&__body {
		margin-bottom: 2.4rem;
		@include respond-to('large') {
			margin-bottom: 3.2rem;
		}
	}
}
